
@{
    ViewBag.Title = "Index";
}

<h2>To Do List</h2>

<div id="root"></div>

@section scripts{
    <script src="~/Scripts/react/dist/bundle.js"></script> 
}

<style>
    .complete {
        text-decoration: line-through;
    }
</style>






